body {
  footer {
    background-color: #000;

    .topFooter {
      .footer__firstColumn {
        color: #fff;
        .www {
          color: red;
        }
      }
      .footer__secondColumn {
        i {
          color: red;
        }
        a {
          text-decoration: none;
          color: #f1f1f1;
        }
      }
      .footer__logoColum {
        border: 2px solid #fff;
        background-color: #fff;
        div {
          height: 80px;
          img {
            opacity: 0.5;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    .bottomFooter {
      background-color: red;
      color: #f1f1f1;
    }
  }
}
